USE [master]
GO
/****** Object:  Database [Cine]    Script Date: 04/05/2018 11:49:01 p. m. ******/
CREATE DATABASE [Cine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaCine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SistemaCine.mdf' , SIZE = 5184KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SistemaCine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SistemaCine_log.ldf' , SIZE = 2112KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cine]
GO
USE [Cine]
GO
/****** Object:  Table [dbo].[Acceso]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acceso](
	[Cod_Acceso] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NULL,
	[ApellidoUsuario] [varchar](50) NULL,
	[Cod_TipoUser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Acceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsientoCliente]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsientoCliente](
	[Cod_AsiCliente] [int] IDENTITY(1,1) NOT NULL,
	[Cod_RegistroAsiento] [int] NULL,
	[Cod_Cliente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_AsiCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cartelera]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cartelera](
	[Cod_Cartelera] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Pelicula] [int] NULL,
	[Cod_Sala] [int] NULL,
	[HoraInicio] [time](7) NULL,
	[HotaFin] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Cartelera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Cod_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[NombreCl] [varchar](50) NULL,
	[ApellidoCl] [varchar](50) NULL,
	[Dni] [varchar](9) NULL,
	[Asi_Tradicional] [int] NULL,
	[Asi_Preferente] [int] NULL,
	[Monto] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClienteDatos]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteDatos](
	[Id Cliente] [int] NOT NULL,
	[Nombre] [varchar](35) NOT NULL,
	[Apellidos] [varchar](35) NOT NULL,
	[Sexo] [varchar](1) NOT NULL,
	[Fecha de Nacimiento] [varchar](50) NOT NULL,
	[Dirección] [varchar](max) NULL,
	[Teléfono] [int] NULL,
	[Email] [varchar](50) NULL,
	[Número de Tarjeta] [int] NULL,
	[Acceso] [varchar](25) NOT NULL,
	[Usuario] [varchar](25) NOT NULL,
	[Password] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleSala]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleSala](
	[Cod_DetSala] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Cartelera] [int] NULL,
	[AsTraLibres] [int] NULL,
	[AsPreLibres] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_DetSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id Empleado] [int] NOT NULL,
	[Nombre] [varchar](35) NOT NULL,
	[Apellidos] [varchar](35) NOT NULL,
	[Sexo] [varchar](1) NOT NULL,
	[Fecha de Nacimiento] [varchar](50) NOT NULL,
	[Dirección] [varchar](max) NULL,
	[Teléfono] [int] NULL,
	[Email] [varchar](50) NULL,
	[Acceso] [varchar](25) NOT NULL,
	[Usuario] [varchar](25) NOT NULL,
	[Password] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[Cod_Pelicula] [int] IDENTITY(1,1) NOT NULL,
	[TituloPelicula] [varchar](50) NULL,
	[Duracion] [time](7) NULL,
	[Genero] [varchar](50) NULL,
	[Clasificacion] [varchar](50) NULL,
	[Formato] [varchar](40) NULL,
	[Portada] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAsientos]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAsientos](
	[Cod_RegistroAsiento] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Cartelera] [int] NULL,
	[Nro_Asiento] [varchar](255) NULL,
	[Cod_Cliente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_RegistroAsiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroAsientos]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroAsientos](
	[Cod_RegistroAsiento] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Cartelera] [int] NULL,
	[Nro_Asiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_RegistroAsiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[Cod_Sala] [int] IDENTITY(1,1) NOT NULL,
	[NomSala] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_User]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_User](
	[Cod_TipoUser] [int] IDENTITY(1,1) NOT NULL,
	[NomTipo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_TipoUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cartelera] ON 
GO
INSERT [dbo].[Cartelera] ([Cod_Cartelera], [Cod_Pelicula], [Cod_Sala], [HoraInicio], [HotaFin]) VALUES (18, 9, 1, CAST(N'11:00:00' AS Time), CAST(N'14:00:00' AS Time))
GO
INSERT [dbo].[Cartelera] ([Cod_Cartelera], [Cod_Pelicula], [Cod_Sala], [HoraInicio], [HotaFin]) VALUES (19, 10, 2, CAST(N'12:50:00' AS Time), CAST(N'15:47:00' AS Time))
GO
INSERT [dbo].[Cartelera] ([Cod_Cartelera], [Cod_Pelicula], [Cod_Sala], [HoraInicio], [HotaFin]) VALUES (20, 11, 1, CAST(N'14:30:00' AS Time), CAST(N'17:10:00' AS Time))
GO
SET IDENTITY_INSERT [dbo].[Cartelera] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 
GO
INSERT [dbo].[Cliente] ([Cod_Cliente], [NombreCl], [ApellidoCl], [Dni], [Asi_Tradicional], [Asi_Preferente], [Monto]) VALUES (22, N'Alfredo', N'Carreón', N'212483104', 0, 2, 36.0000)
GO
INSERT [dbo].[Cliente] ([Cod_Cliente], [NombreCl], [ApellidoCl], [Dni], [Asi_Tradicional], [Asi_Preferente], [Monto]) VALUES (23, N'Alejandra', N'Guzman', N'75574812', 2, 1, 48.0000)
GO
INSERT [dbo].[Cliente] ([Cod_Cliente], [NombreCl], [ApellidoCl], [Dni], [Asi_Tradicional], [Asi_Preferente], [Monto]) VALUES (25, N'Jazmín', N'Estrada', N'212482202', 1, 2, 48.0000)
GO
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
INSERT [dbo].[ClienteDatos] ([Id Cliente], [Nombre], [Apellidos], [Sexo], [Fecha de Nacimiento], [Dirección], [Teléfono], [Email], [Número de Tarjeta], [Acceso], [Usuario], [Password]) VALUES (1, N'Alfredo', N'Carreón', N'M', N'11/02/1997', N'18 de Marzo', 33334612, N'alfredo@gmail.com', 12483204, N'Cliente Socio', N'AlfredoCU', N'123')
GO
INSERT [dbo].[ClienteDatos] ([Id Cliente], [Nombre], [Apellidos], [Sexo], [Fecha de Nacimiento], [Dirección], [Teléfono], [Email], [Número de Tarjeta], [Acceso], [Usuario], [Password]) VALUES (2, N'Jose', N'Gil', N'M', N'15/09/1997', N'Urdaneta #1234', 15243678, N'gil7@hotmail.com', 25684523, N'Cliente Socio', N'Jose_Gil', N'12345')
GO
SET IDENTITY_INSERT [dbo].[DetalleSala] ON 
GO
INSERT [dbo].[DetalleSala] ([Cod_DetSala], [Cod_Cartelera], [AsTraLibres], [AsPreLibres]) VALUES (18, 18, 50, 50)
GO
INSERT [dbo].[DetalleSala] ([Cod_DetSala], [Cod_Cartelera], [AsTraLibres], [AsPreLibres]) VALUES (19, 19, 50, 50)
GO
INSERT [dbo].[DetalleSala] ([Cod_DetSala], [Cod_Cartelera], [AsTraLibres], [AsPreLibres]) VALUES (20, 20, 50, 50)
GO
SET IDENTITY_INSERT [dbo].[DetalleSala] OFF
GO
INSERT [dbo].[Empleado] ([Id Empleado], [Nombre], [Apellidos], [Sexo], [Fecha de Nacimiento], [Dirección], [Teléfono], [Email], [Acceso], [Usuario], [Password]) VALUES (1, N'Maricela', N'Cruz', N'F', N'26/04/1986', N'Lomas de polanco #1432', 78562415, N'mari@yahoo.com.mx', N'Gerente', N'admin7', N'123')
GO
INSERT [dbo].[Empleado] ([Id Empleado], [Nombre], [Apellidos], [Sexo], [Fecha de Nacimiento], [Dirección], [Teléfono], [Email], [Acceso], [Usuario], [Password]) VALUES (2, N'Victor', N'Brocker', N'M', N'16/04/1989', N'Galerias #3092', 85968574, N'vickbro@hotmail.com', N'Cartelera', N'kali', N'linux')
GO
INSERT [dbo].[Empleado] ([Id Empleado], [Nombre], [Apellidos], [Sexo], [Fecha de Nacimiento], [Dirección], [Teléfono], [Email], [Acceso], [Usuario], [Password]) VALUES (3, N'Angelica', N'Victoria', N'M', N'17/02/1994', N'Olimpica #123', 78462634, N'angie@gmail.com', N'Taquilla', N'ang7', N'12345')
GO
SET IDENTITY_INSERT [dbo].[Peliculas] ON 
GO
SET IDENTITY_INSERT [dbo].[Peliculas] OFF
GO
SET IDENTITY_INSERT [dbo].[RAsientos] ON 
GO
INSERT [dbo].[RAsientos] ([Cod_RegistroAsiento], [Cod_Cartelera], [Nro_Asiento], [Cod_Cliente]) VALUES (12, 18, N'btnP27', 22)
GO
INSERT [dbo].[RAsientos] ([Cod_RegistroAsiento], [Cod_Cartelera], [Nro_Asiento], [Cod_Cliente]) VALUES (13, 18, N'btnP27', 22)
GO
INSERT [dbo].[RAsientos] ([Cod_RegistroAsiento], [Cod_Cartelera], [Nro_Asiento], [Cod_Cliente]) VALUES (14, 18, N'btnP32', 22)
GO
SET IDENTITY_INSERT [dbo].[RAsientos] OFF
GO
SET IDENTITY_INSERT [dbo].[Sala] ON 
GO
INSERT [dbo].[Sala] ([Cod_Sala], [NomSala]) VALUES (1, N'Sala Nro 1')
GO
INSERT [dbo].[Sala] ([Cod_Sala], [NomSala]) VALUES (2, N'Sala Nro 2')
GO
SET IDENTITY_INSERT [dbo].[Sala] OFF
GO
/****** Object:  Index [UQ__Cliente3__912A05869D0F78FD]    Script Date: 04/05/2018 11:49:02 p. m. ******/
ALTER TABLE [dbo].[ClienteDatos] ADD UNIQUE NONCLUSTERED 
(
	[Número de Tarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Acceso]  WITH CHECK ADD FOREIGN KEY([Cod_TipoUser])
REFERENCES [dbo].[Tipo_User] ([Cod_TipoUser])
GO
ALTER TABLE [dbo].[AsientoCliente]  WITH CHECK ADD  CONSTRAINT [FK__AsientoCl__Cod_C__25869641] FOREIGN KEY([Cod_Cliente])
REFERENCES [dbo].[Cliente] ([Cod_Cliente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AsientoCliente] CHECK CONSTRAINT [FK__AsientoCl__Cod_C__25869641]
GO
ALTER TABLE [dbo].[AsientoCliente]  WITH CHECK ADD  CONSTRAINT [FK__AsientoCl__Cod_R__24927208] FOREIGN KEY([Cod_RegistroAsiento])
REFERENCES [dbo].[RegistroAsientos] ([Cod_RegistroAsiento])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AsientoCliente] CHECK CONSTRAINT [FK__AsientoCl__Cod_R__24927208]
GO
ALTER TABLE [dbo].[Cartelera]  WITH CHECK ADD  CONSTRAINT [FK__Cartelera__Cod_P__1920BF5C] FOREIGN KEY([Cod_Pelicula])
REFERENCES [dbo].[Peliculas] ([Cod_Pelicula])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cartelera] CHECK CONSTRAINT [FK__Cartelera__Cod_P__1920BF5C]
GO
ALTER TABLE [dbo].[Cartelera]  WITH CHECK ADD  CONSTRAINT [FK__Cartelera__Cod_S__1A14E395] FOREIGN KEY([Cod_Sala])
REFERENCES [dbo].[Sala] ([Cod_Sala])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cartelera] CHECK CONSTRAINT [FK__Cartelera__Cod_S__1A14E395]
GO
ALTER TABLE [dbo].[DetalleSala]  WITH CHECK ADD  CONSTRAINT [FK__DetalleSa__Cod_C__1CF15040] FOREIGN KEY([Cod_Cartelera])
REFERENCES [dbo].[Cartelera] ([Cod_Cartelera])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleSala] CHECK CONSTRAINT [FK__DetalleSa__Cod_C__1CF15040]
GO
ALTER TABLE [dbo].[RegistroAsientos]  WITH CHECK ADD FOREIGN KEY([Cod_Cartelera])
REFERENCES [dbo].[Cartelera] ([Cod_Cartelera])
GO
/****** Object:  StoredProcedure [dbo].[AgregarCartelera]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AgregarCartelera]
@Cod_Sala int,
@Cod_Pelicula int,
@HoraInicio time,
@HoraFin time
as
begin try
	begin tran
		insert into Cartelera values (@Cod_Pelicula,@Cod_Sala,@HoraInicio,@HoraFin)
		insert into DetalleSala values ((SELECT TOP 1 Cod_Cartelera FROM Cartelera ORDER BY Cod_Cartelera DESC ),50,50)	
	commit
end try
BEGIN CATCH
	ROLLBACK
	PRINT ERROR_MESSAGE()
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[AgregarPelicula]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AgregarPelicula]
@titulo varchar(50),
@duracion time,
@genero varchar(50),
@clasificacion varchar(50),
@formato varchar(40),
@portada image
as
begin
INSERT INTO Peliculas VALUES(@titulo,@duracion,@genero,@clasificacion,@formato,@portada)
end
GO
/****** Object:  StoredProcedure [dbo].[Boletos]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Boletos]
@CodCliente INT
AS
SELECT DISTINCT Peliculas.TituloPelicula, Cliente.NombreCl,
	Cliente.ApellidoCl, Cliente.Asi_Tradicional, Cliente.Asi_Preferente, 
	RAsientos.Nro_Asiento, Cliente.Monto

FROM RAsientos, Cliente, Peliculas, Cartelera

WHERE Cliente.Cod_Cliente = RAsientos.Cod_Cliente AND 
	Cartelera.Cod_Cartelera = RAsientos.Cod_Cartelera AND 
	Peliculas.Cod_Pelicula = Cartelera.Cod_Pelicula AND
	Cartelera.Cod_Cartelera = Cartelera.Cod_Cartelera AND
	Cartelera.Cod_Sala = Cartelera.Cod_Sala AND
	RAsientos.Cod_Cliente = @CodCliente
GO
/****** Object:  StoredProcedure [dbo].[DetallePelicula]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DetallePelicula]
@Cod_Pelicula int
as
begin
select PE.TituloPelicula,PE.Duracion,PE.Genero,PE.Clasificacion,PE.Formato,PE.Portada from Peliculas PE
where pe.Cod_Pelicula = @Cod_Pelicula 
end
GO
/****** Object:  StoredProcedure [dbo].[EditarPelicula]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EditarPelicula]
@cod_Pelicula int,
@titulo varchar(50),
@duracion time,
@genero varchar(50),
@clasificacion varchar(50),
@formato varchar(40),
@portada image
as
begin
update Peliculas set TituloPelicula = @titulo, Duracion = @duracion, Genero = @genero,Clasificacion = @clasificacion, Formato = @formato, Portada = @portada where Cod_Pelicula = @cod_Pelicula
end
GO
/****** Object:  StoredProcedure [dbo].[EliminarPelicula]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EliminarPelicula]
@cod_pelicula int
as
begin
delete from Peliculas where Cod_Pelicula = @cod_pelicula
end
GO
/****** Object:  StoredProcedure [dbo].[ListaDetalleCartelera]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ListaDetalleCartelera]
as
begin
select CA.Cod_Cartelera as 'Codigo Cartelera', SA.NomSala as 'Sala', PE.TituloPelicula as 'Pelicula', CA.HoraInicio as 'Hora de Inicio', CA.HotaFin as 'Hora de salida' from Cartelera CA
inner join Sala SA on SA.Cod_Sala = CA.Cod_Sala
inner join Peliculas PE on PE.Cod_Pelicula = CA.Cod_Pelicula 
order by CA.Cod_Cartelera
end
GO
/****** Object:  StoredProcedure [dbo].[ListaPelicula]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ListaPelicula]
as
begin
select DISTINCT(PE.TituloPelicula), PE.Cod_Pelicula from Cartelera CA
inner join Peliculas PE on PE.Cod_Pelicula = CA.Cod_Pelicula
end
GO
/****** Object:  StoredProcedure [dbo].[ListaSala]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ListaSala]
@CodPelicula int
As
Begin
Select distinct(SA.NomSala),SA.Cod_Sala from Cartelera CA
inner join Sala SA on SA.Cod_Sala = CA.Cod_Sala
where Cod_Pelicula = @CodPelicula
End
GO
/****** Object:  StoredProcedure [dbo].[ValidarCartelera]    Script Date: 04/05/2018 11:49:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ValidarCartelera]
@Cod_Sala int,
@horainicio time
as
begin
select Cod_Cartelera from Cartelera where Cod_Sala = @Cod_Sala and HotaFin < @horainicio
end
GO
USE [master]
GO
